{{> header }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h2>Carro De Lujo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum earum aspernatur adipisci voluptates totam modi dolore, odit natus molestiae blanditiis reiciendis. Qui doloribus beatae illo accusantium saepe ea soluta labore.
            Dolore tenetur placeat voluptas et libero excepturi corrupti amet dolor suscipit exercitationem vero minima, doloribus a perferendis beatae quidem soluta debitis quia officiis possimus numquam corporis sint ratione? Tempora, laudantium?
            Praesentium perspiciatis enim libero illum excepturi vitae culpa sequi voluptas consectetur! Molestiae quisquam assumenda, cumque corporis modi dolorem ipsam culpa hic sit labore quam explicabo voluptate aliquam, nemo enim. Asperiores.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/carro.jpg" class="img-thumbnail" alt="Imagen Muestra">
        </div>
    </div>
{{> footer  }}